body{
    font-family:'Courier New', Courier, monospace;
    background-color:antiquewhite;
}

.task-heading{
    font-size: 40px;
    text-decoration: underline;
}

.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 2px solid transparent;
    border-radius: 8px;
    margin: 10px;
    align-items: center;
    background-color: rgba(3, 250, 168, 0.296);
    justify-content: space-evenly;
}
.card:hover{
    -webkit-box-shadow: 10px 3px 80px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 3px 80px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 3px 80px -7px rgba(0,0,0,0.75);
    cursor: pointer;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.card-image{
    width: 80%;
}

.card-title{
    text-align: center;
    font-weight: bold;
}

.card-text{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.card-text span{
    color: red;
    font-size: 18px;
    font-weight: 900;
    text-decoration: underline;
}

.rating-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
